@import "settings";
@import "foundation";
@import "polaroids";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .heading {

    h1, h2, h3, h4, h5, h6 {
      text-align: center;
      line-height: 3em;
    }
  }

  main {
    flex: 1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    .latest-winner {
      color: white;
      padding-bottom: 1em;
      background: #c0392b;

      h4 {
        padding-top: 1em;
        padding-bottom: .5em;
      }

      h1, h2, h3, h4, h5, h6 {
        color: white;

        & small {
          color: $secondary-color;
        }
      }
    }

    blockquote {
      color: $secondary-color;
      border-left: none;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
      quotes: "\201C""\201D""\2018""\2019";
    }
    blockquote:before {
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    blockquote:after {
      position: absolute;
      content: close-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-left: 0.25em;
      margin-top: 0.5em;
      vertical-align: -0.4em;
    }
    blockquote p {
      color: $secondary-color;
      display: inline;
    }

    .previous-winners {
      padding-top: 1em;
      flex: 1;
      background-color: $secondary-color;
    }
  }

  footer {
    padding-top: 1em;

    .copyright {
      color: #4e4e4e;
    }
  }
}
